.countContainer {
  display: flex;
  justify-content: center;
}

.countTime {
}

.timeParts {
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.timeBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeNumber {
  font-weight: 700;
  font-size: 28px;
}

.greenNumber {
  color: green;
}

.timeLabel {
  font-size: 8px;
}

.dot {
  display: inline-block;
  font-weight: 700;
  font-size: 28px;
  margin: 0 8px;
  color: grey;
  border-radius: 50%;
}
