.countContainer {
  text-align: center;
  padding: 20px 32px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
}

.countTitle {
}

.countTime {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.regBut {
  background-color: #28a745; /* Зелений колір кнопки */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}
