.input {
  /* position: relative; */
  padding: 12px 0 12px 16px;
  width: 280px;

  background-color: #f2f4fa;
  border: none;
  margin-bottom: 20px;
  color: #010101;
}

.error {
  color: red;
  margin-bottom: 6px;
}

.agreementLabel {
  display: flex;

  margin-bottom: 32px;
  font-weight: 400;
  font-size: 12px;
  max-width: 320px;
  margin-left: 10px;
}

.checkbox {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid grey;

  appearance: none;
  cursor: pointer;
  margin-right: 10px;
  flex-shrink: 0;
}

.checkbox::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 2px;
  width: 100%;
  height: 100%;

  border-radius: 4px;
}

.checkbox:checked::before {
  border: green;
}

.checkbox:checked::before {
  content: "✓";
  font-size: 16px;
  color: #0f7c41;
}

.link {
  text-decoration: none;
  color: #3577f7;
  margin-right: 2px;
}

.loading {
  text-align: center;
  margin-bottom: 10px;
  color: #0f7c41;
}

.regBut {
  display: block;
  background-color: #0f7c41;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 0.5s ease;
}

.regBut:hover,
.regBut:hover {
  background-color: darkcyan;
}

.span {
  margin-left: 2px;
}

.checkText {
  margin-top: 3px;
  min-width: 280px;
}

.phoneInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.flagIcon {
  position: absolute;
  left: 16px;
  top: 12px;
}

/* TABLET */

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .input {
    max-width: 380px;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* DESK */

@media screen and (min-width: 1440px) {
  .agreementLabel {
    display: flex;

    margin-bottom: 32px;
    font-weight: 400;
    font-size: 12px;
    max-width: 320px;
    margin-left: 0px;
  }
  .input {
    width: 320px;
  }
}
