.hero {
  background-image: url(../../img/bg.png);
  background-size: cover;
  padding-top: 20px;
}

.heroSub {
  display: inline-block;
  font-weight: 500;
  margin-bottom: 16px;
  letter-spacing: 0.08em;
  color: #0f7c41;
  padding: 4px 8px;
  border: 0.4px solid #0f7c41;
}

.heroSpan {
  font-weight: 700;
}

.heroTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 16px;
}

.heroText {
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 280px;
}

.positionWrap {
  position: relative;
}

.imgWrap {
  position: absolute;
  top: 70px;
  right: 40px;
}

.arTab {
  display: none;
}

.countWrap {
  padding: 32px 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
}

.countTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
}

.regBut {
  background-color: #0f7c41;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 0.5s ease;
}

.regBut:hover,
.regBut:hover {
  background-color: darkcyan;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 360px;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* TABLET */

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .header {
    padding-top: 30px;
  }

  .heroSub {
    display: block;
    box-sizing: border-box;
    line-height: 1.5;
    width: 320px;
    padding: 8px 16px;
    text-align: center;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 1.22;
    max-width: 326px;
    margin-bottom: 24px;
  }

  .arMob {
    display: none;
  }

  .arTab {
    display: block;
  }

  .imgWrap {
    top: 90%;
    right: 62%;
    transform: translate(50%, -50%);
  }

  .countWrap {
    display: none;
  }
}

/* DESK */

@media screen and (min-width: 1440px) {
  .heroSub {
    display: inline-block;
  }

  .heroTitle {
    font-size: 56px;
    line-height: 1.21;
    max-width: 336px;
    margin-bottom: 24px;
  }

  .heroText {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    max-width: 554px;
  }

  .arMob {
    display: none;
  }

  .arTab {
    display: block;
    width: 82px;
    height: 82px;
  }

  .countWrap {
    display: none;
  }
}
