.hero {
  background-image: url(../../img/bg.png);
  background-size: cover;
  padding-top: 20px;
}

.heroSub {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 16px;
  letter-spacing: 0.08em;
  color: #0f7c41;
  padding: 4px 8px;
  border: 0.4px solid #0f7c41;
  width: 230px;
  text-align: center;
}

.heroSubTwo {
  width: 230px;
  display: block;
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 500;
  font-size: 14px;
  color: #0f7c41;
  padding: 4px 8px;
  text-align: center;
  border: 0.4px solid #0f7c41;
  margin-bottom: 24px;
  max-width: 188px;
  letter-spacing: 0.08em;
}

.heroSpan {
  font-weight: 700;
}

.heroTitle {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.25;
  margin-bottom: 16px;
}

.heroText {
  line-height: 1.5;
  margin-bottom: 24px;
  max-width: 280px;
}

.positionWrap {
  position: relative;
}

.imgWrap {
  position: absolute;
  top: 70px;
  right: 40px;
}

.arTab {
  display: none;
}

.arDesk {
  display: none;
}

.countWrap {
  display: flex;
  flex-direction: column;
  padding: 32px 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
}

.countTitle {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
  text-align: center;
}

.regBut {
  background-color: #0f7c41;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  line-height: 1.5;
  cursor: pointer;
  width: 280px;
  height: 56px;
  margin: 0 auto;
  transition: background-color 0.5s ease;
}

.regBut:hover,
.regBut:hover {
  background-color: darkcyan;
}

.formWrap {
  display: none;
}

/* TABLET */

@media screen and (min-width: 769px) and (max-width: 1439px) {
  .hero {
    padding-bottom: 164px;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .heroWrapper {
    display: flex;
    justify-content: space-between;
  }

  .formWrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    min-width: 336px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
  }

  .heroSub {
    display: block;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 16px;
    width: 252px;
    padding: 8px 16px;
    text-align: center;
  }

  .heroSubTwo {
    max-width: 280px;
    display: inline-block;

    line-height: 1.5;
    font-size: 16px;
    color: #0f7c41;
    padding: 8px 16px;
    text-align: center;
    border: 0.4px solid #0f7c41;
    margin-bottom: 24px;
  }

  .heroTitle {
    font-size: 36px;
    line-height: 1.22;
    max-width: 326px;
    margin-bottom: 24px;
  }

  .arMob {
    display: none;
  }

  .arTab {
    display: block;
  }

  .imgWrap {
    top: 90%;
    right: 16%;
    transform: translate(50%, -50%);
  }

  .countWrap {
    display: none;
  }
}

/* DESK */

@media screen and (min-width: 1440px) {
  .hero {
    padding-bottom: 110px;
  }
  .heroSub {
    display: inline-block;
  }

  .heroTitle {
    font-size: 56px;
    line-height: 1.21;
    max-width: 336px;
    margin-bottom: 24px;
  }

  .heroText {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 24px;
    max-width: 554px;
  }

  .arMob {
    display: none;
  }

  .arTab {
    display: none;
  }

  .arDesk {
    display: block;
  }

  .imgWrap {
    top: 90%;
    right: -10%;
    transform: translate(50%, -50%);
  }

  .countWrap {
    display: none;
  }
  .subWrap {
    display: flex;
    gap: 28px;
    margin-bottom: 40px;
  }

  .heroSub {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding: 6px 16px;
    box-sizing: content-box;
  }

  .heroSubTwo {
    max-width: 230px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 6px;
    padding-bottom: 0px;
    margin-bottom: 16px;
    box-sizing: content-box;
  }
  .formWrap {
    display: grid;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    max-width: 488px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(15, 124, 65, 0.2);
    justify-content: center;
    align-items: center;
  }

  .heroWrapper {
    display: flex;
    justify-content: space-between;
  }

  .countTitle {
    margin: 0;
  }
}
